font()
	font-family Roboto, 'Open Sans', 'Helvetica Neue', sans-serif
	font-weight 300
	letter-spacing 0.0em
	word-spacing: 0.0em

fontI()
	font()
	font-style italic

fontB()
	font()
	font-weight 600

fontBI()
	font()
	font-weight 600
	font-style italic

// - Functions
fontSmooth()
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale